/*-------------------------
	Simple reset
--------------------------*/
*{margin: 0;padding: 0;}


/*-------------------------
	General Styles
--------------------------*/
body{background-image: url('../img/page_bg_estaca_conferencia.jpg');background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;font: 14px/1.3 'Segoe UI',Arial, sans-serif;}
a, a:visited {text-decoration: none;outline: none;text-shadow: none;}


/*----------------------------
	Main Section
-----------------------------*/
#container-countdown{margin: 14% auto 0;text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);}
#container-countdown > #note, 
#container-countdown > p{color: #eeeeee;font-size: 20px;margin: 0 auto;padding: 4px;text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);}
#container-countdown > #countdown{width: 100%;}


.btn{transition: 400ms;margin-top: 10px;}

.btn-primary {color: #eeeeee;background-color: #f59611;border-color: #f59611;}
.btn-primary+.btn-check:focus,
.btn-primary:focus,
.btn-primary:hover {color: #eeeeee;background-color: #0e71eb;border-color: #0e71eb;}

.btn-youtube {color: #eeeeee;background-color: #dd1811;border-color: #dd1811;}
.btn-youtube:hover {color: #eeeeee;background-color: #b4140f;border-color: #b4140f;}

.btn-zoom {color: #eeeeee;background-color: #0e71eb;border-color: #0e71eb;}
.btn-zoom+.btn-check:focus,
.btn-zoom:focus,
.btn-zoom:hover{color: #eeeeee;background-color: #0b4791;border-color: #0b4791;}


/*----------------------------
	Formulário Presenca
-----------------------------*/
.modal-header {color: black;}
iframe {width: 100%; height: 99.5%;}

.modal-header {background-color: #b1b1b1; padding: 0.5rem 1rem;}
.modal-header .btn {margin-top: 0px;}
