html{
	overflow: hidden;
}

body{
	background-image: url('../img/page_bg_center.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#note {
    color: #eeeeee;
    font-size: 20px;
}

.btn-danger {
    background-color: #f59611;
    border-color: #f59611;
    transition: 400ms;
}

.btn-danger:hover{
	background-color: #dd1811;
}
