/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}

html{
	overflow: hidden;
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;

	background-image: url('../img/page_bg_center.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#texto-centralizado {
	width: 450px;
	margin: 0 auto;
	text-align: center;
}

#note {
    color: #eeeeee;
    font-size: 20px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.btn-danger {
    background-color: #f59611;
    border-color: #f59611;
    transition: 400ms;
}

.btn-danger:hover{
	background-color: #dd1811;
}
